.chopper {
  background:url('cat.gif') no-repeat 0 0;
  width: 150px;
  height: 150px;
  background-size: contain;
  position:absolute;
}

body{
  margin:0;
  padding:0;
  background-color: gray;
  overflow:hidden;
}

.projectiles {
  background:url('cupcake.gif') no-repeat 0 0;
  width: 50px;
  height: 50px;
  background-size: contain;
  position: absolute;
}

.stats {
  width: 100%;
  height: 25px;
  background-color: pink;
  padding: 0;
  margin: 0;
}
