.chopper {
  background:url('cat.gif') no-repeat 0 0;
  width: 150px;
  height: 150px;
  background-size: contain;
  position:absolute;
}

body{
}

.projectiles {
  background:url('cupcake.gif') no-repeat 0 0;
  width: 50px;
  height: 50px;
  background-size: contain;
  position: absolute;
}
